.color-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.color-data__rgb{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.color-data__color-preview {
    width: 20px;
    height: 20px;
    border: 1px black;
    border-radius: 50%;
}