.header {
    background-color: #333;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    background: white;
    padding: 10px;
}

.header__title {
    font-size: 24px;
    font-weight: 600;
    color: #000;
}

