.tools {
  margin: 5px 0;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  flex-direction: row;
}

.side-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  left: 0;
  padding: 20px;
  width: 300px;
  background-color: whitesmoke;
}

